html{
  height: 100%;
}
body{
  height: inherit;
}
.main{
  height: inherit;
}
.main-content{
  height: inherit;
}
.menu-box{
  position: absolute;
  height: 100%;
  width: 200px;
  background: #1668b2;
  z-index: 1;
}
.content-box{
  padding-left: 200px;
  background: #f8f8f8;
  height:inherit;
  position: relative;
  .content-wrap{
    background: #fff;
    position: absolute;
    overflow-y: auto;
    box-shadow: 0px 0px 0px 1px #ccc;
    top: 60px;
    left: 210px;
    bottom: 10px;
    right: 10px;
    padding: 10px;
  }
}